@import "bootstrap.less";
@import "font-awesome.less";

@gray : #bbb;
@margin : 24px;

body {
	margin-top: @margin;

	&.login { background-color: #ddd; }
	
	form {
		.control-group {
			&:last-child { margin-bottom: 0; }
		}
	}
	
	.header { margin-bottom: @margin; }
	
	.main {
		
		h1 {
			font-weight: normal; font-size: @margin; line-height: @margin; margin: 0 0 @margin 0;
			i { color: @gray; }
		}
		
		.btn-group {
			margin-bottom: @margin;
		}
		
		table {
			table-layout: fixed;
			th, td {
				&.center { text-align: center; }
				&.right { text-align: right; }
			}
		}
		
	}
	
	.side {
		.inner {
			border-left: 2px dashed @gray; padding: @margin; color: @gray; margin-top: 38px;
			p { margin: 0 0 @margin 0; }
		}
	}
}