@import "bootstrap.scss";
@import "redactor.scss";

$gray 			: #ccc;
$gray_dark		: #555;
$gray_light		: #f5f5f5;
$white			: #fff;
$margin			: 24px;
$modal_radius	: 14px;
$field_radius	: 4px;

$success		: #dff0d8;
$warning		: #fcf8e3;
$danger			: #f2dede;


html { height: 100%; }

body {
	margin-top: $margin; height: 100%;

	h1, h2, h3, h4, h5, h6 { font-family: inherit; }

	&.login { 
		background-color: $gray;
		div.modal {
			border-radius: $modal_radius; border: 0; top: 25%;
			div.modal-content { 
				border-radius: $modal_radius;
				div.modal-header { border-radius: $modal_radius $modal_radius 0 0; }
				div.modal-body .form-group:last-child { margin-bottom: 0; }
				div.modal-footer { margin-top: 0; border-radius: 0 0 $modal_radius $modal_radius; background-color: $gray_light; }
			}
		}
	}
	
	form {
		margin-bottom: $margin;
		.form-group {
			/* label sup { display: none; } */

			input {
				&.color { max-width: 100px; }
				&.date { max-width: 200px; }
				&.datetime { max-width: 200px; }
				&.integer { max-width: 200px; }
				&.time { max-width: 200px; }
			}

			div.checkbox { padding-top: 4px; }

			.redactor_box {
				border: 1px solid $gray; border-radius: $field_radius;
				ul.redactor_toolbar { 
					border-bottom: 1px solid $gray; background: none; background-color: $gray_light; border-radius: $field_radius $field_radius 0 0;
					li { 
						padding-bottom: 0; 
						a.redactor_btn_button1 {
							background: url(/packages/joshreisner/avalon/img/lorem_ipsum_button.png) no-repeat;
						}
					}
				}
				div.redactor_editor {
					border-radius: 0 0 $field_radius $field_radius;
				}
			}

			&:last-child { margin-bottom: 0; }
			&.has-error {
				.help-inline { display: none !important; }
			}

			&.checkboxes {
				.controls {
					padding-top: 5px; overflow: auto; max-height: 300px;
					label.checkbox { 
						width: 152px; float: left; 
						&:first-child { padding-top: 0; }
					}
				}
			}
		}

		&.upload { 
			position: absolute; 
			input { opacity: 0; position: absolute; top: 0; right: 0; bottom: 0; left: 0; cursor: pointer; }
		}
	}
	
	.header { 
		margin-bottom: $margin; overflow: auto;
		a {
			background-image: url(/packages/joshreisner/avalon/img/banner.png); display: block; width: 295px; height: 92px; float: left;
		}
	}
	
	.main {
		margin-bottom: $margin;

		h1 {
			font-weight: normal; font-size: $margin; line-height: $margin; margin: 0 0 $margin 0;
			i.glyphicon-chevron-right { color: $gray; }
		}
		
		.btn-group {
			margin-bottom: $margin;
		}
		
		table {
			margin: -6px 0 $margin;
			tbody { border-top: 0; }
			div.highlight { z-index: -10; background-color: $gray_light; position: absolute; }
			tr {
				th, td {
					&.draggy, &.delete { width: 18px; text-align: center; }
					&.draggy { color: $gray; cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important; }
					&.delete a {
						color: inherit; 
						i { top: 2px; }
						&:hover { text-decoration: none; }
					}
					&.center { text-align: center; }
					&.date { text-align: right; white-space: nowrap; }
					&.datetime { text-align: right; white-space: nowrap; }
					&.integer { text-align: right; }
					&.updated_at { text-align: right; white-space: nowrap; width: 120px; }
					&.color { 
						width: 30px;
						a { display: block; width: 30px; height: 30px; margin: -5px; }
					}
				}
				
				&.group {
					td {
						padding-top: 34px; color: $gray_dark; text-transform: uppercase; font-weight: bold; 
						font-size: 12px; 
					}
				}

				&.dragging {
					td.draggy {
						cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
					}
					td { 
						border-color: $gray_dark; border-bottom-width: 1px; border-bottom-style: solid; 
						background-color: $gray_light;
					}
					
				}
				
				&.inactive {
					text-decoration: line-through; color: $gray;
					a { color: $gray; }
				}
			}
			&.objects {
				tr {
					td, th {
						&.string { width: 200px; }
						&.updated_at { width: 200px; }
						&.integer { text-align: center; }
					}
				}
			}
		}
	}
	
	.side {
		margin-bottom: $margin;
		.inner {
			font-size: 1.1em; border-left: 2px dashed $gray; padding: 9px $margin; color: $gray_dark; margin-top: 38px;
			
			p { margin: 0 0 $margin 0; }

			form { margin-bottom: 30px; }

			.well {
				max-height: 300px; overflow: scroll;
				img { margin-bottom: 10px; }
			}
		}
	}
}