@gray  : #AAAAAA;
@white : #FFFFFF;
@black : #000000;
@light : #F6F6F6;

.shadowed(@x-axis: 0, @y-axis: 1px, @blur: 4px, @color: #000, @alpha: 0.5) {
	@hsla: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	-webkit-box-shadow: @x-axis @y-axis @blur @hsla;
	   -moz-box-shadow: @x-axis @y-axis @blur @hsla;
	        box-shadow: @x-axis @y-axis @blur @hsla;
}

body {
	a { cursor: pointer; }
	.hidden { display: none; }
	
	.container {
		.header {
			margin-top: 20px; height: 105px;
		}

		.main {
			h1 { 
				font-weight: normal; font-size: 19px; 
				span.separator { margin: 0 4px 0 7px; color: @gray;}
			}
			
			nav {
				margin-bottom: 20px;
			}
			
			form {
				padding-top: 10px;
				label.checkbox.inline {
					cursor: pointer; width: 120px; margin: 0 10px 0 0;
				}
				.control-group.error {
					input, textarea { background-color: #FFADB9; }
				}
				.form-actions {
					/* background-color: transparent;  */
				}
				textarea { height: 100px; }

				&.objects_edit, &.objects_add {
					select[name=direction] { width: auto; }
				}
			}
			
			table {
				th { color: @gray; font-weight: normal; }
				th, td {
					&.color {
						width: 28px; padding: 0;
						a { display: block; height: 28px; width: 28px; }
					}
					&.date { text-align: right; white-space: nowrap; }
					&.delete { width: 10px; }
					&.group { font-weight: bold; text-transform: uppercase; font-size: 12px; padding-top: 20px; }
					&.integer { text-align: right; }
					&.publish { 
						width: 10px; 
						input { margin-top: -3px; }
					}
					&.reorder { width: 10px; color: @gray; cursor: row-resize; }
				}
				tr.dragging {
					.shadowed(); z-index: 1; background-color: @light;
					td { border-color: @gray; border-bottom: 1px solid @gray; }
				}
			
				span.user { color: @gray; margin-right: 10px; }
			}
		}
		
		.side {
			.inner {
				font-size: 14px; border-left: 1px dashed @gray; margin-top: 10px; padding: 20px 0 20px 20px; min-height: 200px;
			}
		}
	}
}

/* random bootrap override */
ul.typeahead.dropdown-menu li.active a { color: @white; }